<section>
  <h1>{{title}}</h1>

    <article class="post">
    	<p class="{{status}}"> {{palidrome-response}}</p>
  		<p> {{status-message}} </p>
    </article>

    <article>
    	<a href="/"> Try another palidrome! </a>
    </article>
</section>

This page will respond with a valid HTML document. The title of the document should be "The Palindrome Results!". You should have the title set as the <title> element of the HTML document and as an h1 in your document.

Your page should reference a CSS file, /public/site.css; this file should have at least 5 rulesetsthat apply to this page; these 5 rules can also apply to elements on /, or be unique to this page. **You must have 2 classes: success and failure that are used to color the message below either #28a745 and #dc3545 respectively.

You should have a main element, and inside of the main element have a p tag that has the text-to-test in it. **If the text is a palindrome, this p tag will have a class of success; if it is not, it will have a class of failure. After the p tag, you will have another p tag that states whether or not the string was a palindrome.

You must also provide an a tag that links back to your / route with the text Try another palindrome.

If the user does not input text into their form, make sure to give a response status code of 400 on the page, and render an HTML page with a paragraph class called error; this paragraph should describe the error.


