<section class="login-screen">
	<h2 class="text-center error"> {{error}} </h2>
	<h2 class="text-center">Welcome! Please Login</h2>
	<form action="/login" method="POST" id="login-form" class="form-signin">
	    <label for="username">User name::</label>
		<input type="text" name="username" id="username" class="form-control input_forms" placeholder="User name"required><br>

		<label for="password">Password::</label>
		<input type="password" name="password" id="password" class="form-control input_forms" placeholder="Password" required><br>


		<button type="submit" class="btn btn-lg btn-primary btn-block"> Submit! </button>
	</form>

</section>